<div class="p-3">
  <div class="card">
    <div class="card-body">
      <div class="card-body">
        {{keyword}}
        <input type="text" [(ngModel)]="appStateService.productState.keyword">
        <button (click)="searchProducts()" class="btn btn-outline-success"> Search
          <i class="bi bi-search"></i>
        </button>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>Name</th><th>Price</th><th>Checked</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of  appStateService.productState.products">

          <td>{{p.name}}</td>
          <td>{{p.price}}</td>
          <td  *ngIf="appStateService.authState.roles.includes('ADMIN')">
            <button (click)="handleCheckProduct(p)"
                    class="btn btn-outline-success">
              <i [class]="p.checked?'bi bi-check':'bi bi-circle'"></i>
            </button>

          </td>
          <td *ngIf="appStateService.authState.roles.includes('ADMIN')">
            <button (click)="handleDelete(p)"  class="btn btn-outline-danger">
              <i class="bi bi-trash"></i>
            </button>
          </td>
          <td  *ngIf="appStateService.authState.roles.includes('ADMIN')">
            <button (click)="handleEdit(p)"  class="btn btn-outline">
              <i class="bi bi-pencil"></i>
            </button>
          </td>


        </tr>

        </tbody>

      </table>
      <ul class="nav nav-pills">
        <li *ngFor="let page of [].constructor(this.appStateService.productState.totalPages); let i=index">
          <button (click)="handleGotoPage(i+1)"

                  [ngClass]="this.appStateService.productState.currentPage==(i+1)?
                  'btn-success':
                  'btn-outline-success'"
                  class="btn m-1"
          >
            {{i+1}}

          </button>
        </li>
      </ul>
    </div>
  </div>




</div>
